<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TheServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49499/TheService.asmx" binding="basicHttpBinding"
                bindingConfiguration="TheServiceSoap" contract="UseTheService.TheServiceSoap"
                name="TheServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>